RORegEx/RORegEx.xcodeproj/xcuserdata/riku.xcuserdatad/xcdebugger/*
RORegEx/RORegEx.xcodeproj/project.xcworkspace/xcuserdata/riku.xcuserdatad/UserInterfaceState.xcuserstate
RORegEx/RORegEx.xcodeproj/xcuserdata/riku.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist